<h4>New Songs</h4>
<song-slider></song-slider>

<h4>New Playlists</h4>

<table class="music-list-table" >
		<thead class="music-headers">
			<tr>
				<th><h5 class="music-header">Song</h5></th>
				<th><h5 class="music-header">Uploader</h5></th>
				<th><h5 class="music-header">Duration</h5></th>
			</tr>
		</thead>

		<tbody class="music-list">

			<tr class="music-row">
				<td class="music-row-item song">
					<a class="play-icon" href="#">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a class="song-title" href="#">
						Blessings
					</a>
				</td>
				<td class="music-row-item uploader">
					<a href="#">
						Rashad Russell
					</a>
				</td>
				<td class="music-row-item duration">3:42</td>
				<td class="music-row-item">
					<a href="#" title="Send a Drop">
						<span class="share"><i class="fa fa-share"></i></span>
					</a>
					<a href="#">
						<span title="Remove" class="remove alert"><i class="fa fa-times"></i></span>
					</a>
				</td>
			</tr>

			<tr class="music-row">
				<td class="music-row-item song">
					<a class="play-icon" href="#">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a class="song-title" href="#">
						Blessings
					</a>
				</td>
				<td class="music-row-item uploader">
					<a href="#">
						Rashad Russell
					</a>
				</td>
				<td class="music-row-item duration">3:42</td>
				<td class="music-row-item">
					<a href="#" title="Send a Drop">
						<span class="share"><i class="fa fa-share"></i></span>
					</a>
					<a href="#">
						<span title="Remove" class="remove alert"><i class="fa fa-times"></i></span>
					</a>
				</td>
			</tr>

			<tr class="music-row">
				<td class="music-row-item song">
					<a class="play-icon" href="#">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a class="song-title" href="#">
						Blessings
					</a>
				</td>
				<td class="music-row-item uploader">
					<a href="#">
						Rashad Russell
					</a>
				</td>
				<td class="music-row-item duration">3:42</td>
				<td class="music-row-item">
					<a href="#" title="Send a Drop">
						<span class="share"><i class="fa fa-share"></i></span>
					</a>
					<a href="#">
						<span title="Remove" class="remove alert"><i class="fa fa-times"></i></span>
					</a>
				</td>
			</tr>

			<tr class="music-row">
				<td class="music-row-item song">
					<a class="play-icon" href="#">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a class="song-title" href="#">
						Blessings
					</a>
				</td>
				<td class="music-row-item uploader">
					<a href="#">
						Rashad Russell
					</a>
				</td>
				<td class="music-row-item duration">3:42</td>
				<td class="music-row-item">
					<a href="#" title="Send a Drop">
						<span class="share"><i class="fa fa-share"></i></span>
					</a>
					<a href="#">
						<span title="Remove" class="remove alert"><i class="fa fa-times"></i></span>
					</a>
				</td>
			</tr>
				
			<tr class="music-row">
				<td class="music-row-item song">
					<a class="play-icon" href="#">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a class="song-title" href="#">
						Blessings
					</a>
				</td>
				<td class="music-row-item uploader">
					<a href="#">
						Rashad Russell
					</a>
				</td>
				<td class="music-row-item duration">3:42</td>
				<td class="music-row-item">
					<a href="#" title="Send a Drop">
						<span class="share"><i class="fa fa-share"></i></span>
					</a>
					<a href="#">
						<span title="Remove" class="remove alert"><i class="fa fa-times"></i></span>
					</a>
				</td>
			</tr>
				
			<tr class="music-row">
				<td class="music-row-item song">
					<a class="play-icon" href="#">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a class="song-title" href="#">
						Blessings
					</a>
				</td>
				<td class="music-row-item uploader">
					<a href="#">
						Rashad Russell
					</a>
				</td>
				<td class="music-row-item duration">3:42</td>
				<td class="music-row-item">
					<a href="#" title="Send a Drop">
						<span class="share"><i class="fa fa-share"></i></span>
					</a>
					<a href="#">
						<span title="Remove" class="remove alert"><i class="fa fa-times"></i></span>
					</a>
				</td>
			</tr>
				
			<tr class="music-row">
				<td class="music-row-item song">
					<a class="play-icon" href="#">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a class="song-title" href="#">
						Blessings
					</a>
				</td>
				<td class="music-row-item uploader">
					<a href="#">
						Rashad Russell
					</a>
				</td>
				<td class="music-row-item duration">3:42</td>
				<td class="music-row-item">
					<a href="#" title="Send a Drop">
						<span class="share"><i class="fa fa-share"></i></span>
					</a>
					<a href="#">
						<span title="Remove" class="remove alert"><i class="fa fa-times"></i></span>
					</a>
				</td>
			</tr>
				
			<tr class="music-row">
				<td class="music-row-item song">
					<a class="play-icon" href="#">
						<i class="fa fa-play fa-lg"></i>
					</a>
					<a class="song-title" href="#">
						Blessings
					</a>
				</td>
				<td class="music-row-item uploader">
					<a href="#">
						Rashad Russell
					</a>
				</td>
				<td class="music-row-item duration">3:42</td>
				<td class="music-row-item">
					<a href="#" title="Send a Drop">
						<span class="share"><i class="fa fa-share"></i></span>
					</a>
					<a href="#">
						<span title="Remove" class="remove alert"><i class="fa fa-times"></i></span>
					</a>
				</td>
			</tr>
				
					

		</tbody>
	</table>

