<!doctype html>
<html ng-app="5BeatsApp">
<head>
	<title>5Beats</title>
	<link rel="stylesheet" href="http://localhost:3000//assets/vendor/foundation/css/foundation.css">
	<link rel="stylesheet" href="http://localhost:3000//assets/stylesheets/app.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<header sticky-header></header>
<main class="viewLoader" ui-view></main>
<sidebar></sidebar>


<script src="http://localhost:3000/assets/vendor/angular/angular.js"></script>
<script src="http://localhost:3000/assets/vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="http://localhost:3000/assets/vendor/angular-ui-router-styles/ui-router-styles.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>


<script src="http://localhost:3000/app.js"></script>

<script src="http://localhost:3000/assets/vendor/jquery/dist/jquery.js"></script>
<script src="http://localhost:3000/assets/vendor/jDataView/jdataview.js"></script>
<script src="http://localhost:3000/assets/vendor/flow.js/dist/flow.min.js"></script>
<script src="http://localhost:3000/assets/vendor/ng-flow/dist/ng-flow.min.js"></script>


<script src="http://localhost:3000/components/home/home.controller.js"></script>
<script src="http://localhost:3000/components/home/home.js"></script>
<script src="http://localhost:3000/components/dashboard/dashboard.controller.js"></script>
<script src="http://localhost:3000/components/dashboard/dashboard.js"></script>
<script src="http://localhost:3000/components/profile/profile.controller.js"></script>
<script src="http://localhost:3000/components/profile/profile.js"></script>
<script src="http://localhost:3000/components/upload/upload.controller.js"></script>
<script src="http://localhost:3000/components/upload/upload.js"></script>
<script src="http://localhost:3000/components/login/login.controller.js"></script>
<script src="http://localhost:3000/components/login/login.js"></script>
<script src="http://localhost:3000/shared/services/services.js"></script>


<script src="http://localhost:3000/shared/directives/stickyHeader/stickyHeader.js"></script>
<script src="http://localhost:3000/shared/directives/sidebar/sidebar.js"></script>
<script src="http://localhost:3000/shared/directives/musicList/musicList.js"></script>
<script src="http://localhost:3000/assets/vendor/foundation/js/foundation.js"></script>

<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>