.song-slider-container {
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	overflow-x: scroll;
	overflow-y: hidden;

	.song-slider {
		width: 100%;
		list-style: none;
		padding: none;
		margin: none;
		display: table;
		table-layout: fixed;

		.song-block-controls {
			width: 200px;
			height: 200px;
			position: absolute;
			background: $white;
			opacity: 0.5;
		}

		.song-block {
			width: 200px;
			height: 200px;
			margin-left: 20px;
			background: $darkGrey;
			display: table-cell;
    		text-align: center;

			.song-cover-art {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}

}
