<div class="row">
    <div class="small-12 columns">
        <h1>Upload Song</h1>
        <h2>{{selectedUser.username}}</h2>
    </div>
</div>


<div class="row">
    <div class="small-12 columns">
        <h2 class="subheader">Choose file to upload</h2>
        <input type="file" id="fileSelector" name="song" />
        <input type="text" class="songTitle" name="title" placeholder="Set Title" />
        <input type="text" class="coverArtURL" name="albumArtURL" placeholder="Choose Cover Art URL..." />
        <label>Choose Song Visibility</label>
        <button ng-click="fileNameChanged()">Upload</button>
    </div>
</div>


<!-- <form action="http://localhost:4000/api/upload" method="post" enctype="multipart/form-data" id="file-form">
    Select image to upload:
    <input type="file" name="fileToUpload" id="file-select">
    <input type="submit" value="Upload Image" name="upload-button">
</form> -->



<!-- <div class="row">
    <div class="small-12 columns">
        <div flow-init="{target: '/api/upload'}"
             flow-files-submitted="$flow.upload()">

          <input type="file" flow-btn/>
          Input OR Other element as upload button
          <button flow-btn>Upload Song</button>

          <table>
            <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
            </tr>
          </table>
        </div>
    </div>
</div> -->
